@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 10px;
  background-color: #F5EBEB;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
}

button {
  margin: 0 auto;
  padding: 5px 10px;
  background-color: #867070;
  border: none;
  border-radius: 6px;
}

a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
#myGroupSelectForm {
  padding: 20px;
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color:#E4D0D0;
  border-radius: 10px;
}

#selectCategory {
  margin: 10px auto;
  padding: 5px 0;
  background-color: #D5B4B4; 
  border: none;
  border-radius: 8px;
  outline: none;
}