@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 10px;
  background-color: #F5EBEB;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
}

button {
  margin: 0 auto;
  padding: 5px 10px;
  font-size: 16px;
  color: #fff;
  background-color: #867070;
  border: none;
  border-radius: 6px;
}

#myGroupSelectForm {
  padding: 20px;
  display:flex;
  flex-direction: column;
  text-align: center;
  background-color:#E4D0D0;
  border-radius: 10px;
}

#selectCategory {
  margin: 10px auto;
  padding: 5px 0;
  background-color: #D5B4B4; 
  border: none;
  border-radius: 8px;
  outline: none;
}

/* Question HTML styling */
fieldset {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  border-color: #F5EBEB;
}

legend {
  padding: 0 10px;
}

input[type="radio"] {
  margin: 0 10px;
}

.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 991px) {
  .grid-box{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .grid-box{
    grid-template-columns: 1fr;
  }
}

.answerDiv{
  padding: 10px;
  text-align: right;
  color: #867070;
}